.content {
    width: 900px;
    margin: 20px auto 0 auto;
}

nav#main {
    background-color: rgba(24, 29, 219, 0.24);
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgba(24, 29, 219, 0.24);
    border-left: 1px solid rgba(24, 29, 219, 0.24);
    border-top: 1px solid rgba(250, 250, 250, 0.27);
    box-shadow: 0 0 5px rgba(1, 1, 1, 0.7);
    padding: 10px 10px 10px 10px;
}

#statisticContent {
    width: 100%;
}

#statisticContent th, td {
    width: 50%;
}

#timePicker-button {
    width: 12em;
}

#getStatistic {
    width: 100%;
}
